<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Theater</title>
    <link rel="shortcut icon" href="/resources/images/logo.png" type="image/png">
    <link rel="stylesheet" href="/resources/css/styles.css">
</head>
<body>
<div class="container">
    <div class="title">
        <h1>Please change the name of the play</h1>
    </div>
    <div class="menu_link">
        <button class="perform" onclick="history.back();">OK</button>
    </div>
    <div class="text">
        <h3>Exception</h3>
        <p>Repetition of the title of the play is not allowed</p>
    </div>
</div>
</body>
</html>