body {
  background: antiquewhite;
  font-family: Comic Sans MS, Arial;
  font-size: 16px;
  color: #003449;
}

.container {
  max-width: 100%;
  min-width: 320px;
  position: center;
  margin-top: 50px;
  margin-bottom: 150px;
}

.title {
  width: 60%;
  margin: auto;
}

.menu_link {
  width: 60%;
  margin: auto;
}

.link {
  margin-right: 15px;
  text-decoration: none;
  color: darkgreen;
}

.link:hover {
  color: gold;
}

table {
  width: 60%;
  margin: auto;
  padding-top: 20px;
  font-size: 14px;
  border-radius: 10px;
  border-spacing: 0;
  text-align: center;
}

th {
  background: #BCEBDD;
  color: white;
  text-shadow: 0 1px 1px #2D2020;
  padding: 10px 20px;
}

th, td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
}
th:first-child, td:first-child {
  text-align: left;
}

th:first-child {
  border-top-left-radius: 10px;
}

th:last-child {
  border-top-right-radius: 10px;
  border-right: none;
}
td {
  padding: 10px 20px;
  background: #F8E391;
}

tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
}

tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}

tr td:last-child {
  border-right: none;
}

.table a {
  display: inline-block;
  padding: 5px 10px;
  background: darkgoldenrod;
  box-shadow: 2px 2px 0 0 darkcyan;
  border-radius: 3px/3px;
  position: relative;
}

.table a:hover {
  box-shadow: none;
  top: 2px;
  left: 2px;
}

.form {
  width: 60%;
  margin: auto;
}

input, select {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  border-radius: 3px/3px;
  background: #BCEBDD;
}

.perform, .add, .delete{
  cursor: pointer;
  padding: 5px 5px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  background: cornflowerblue;
  border-radius: 3px/3px;
  border: 1px solid #f0f0f0;
}

.add {
  background: forestgreen;
}

.delete {
  background: red;
}

.perform:hover, .add:hover, .delete:hover {
  color: darkorange;
  opacity: .80;
  transform: scale(1.1);
}

.perform:active, .add:active, .delete:active {
  opacity: .70;
  color: chartreuse;
}

.text {
  width: 60%;
  margin: auto;
}