<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Theater</title>
    <link rel="shortcut icon" href="/resources/images/logo.png" type="image/png">
    <link rel="stylesheet" href="/resources/css/styles.css">
</head>
<body>
<div class="container">
    <div class="title">
        <h1>Hello!!! This is theater</h1>
    </div>
    <div class="menu_link">
        <a class="link" href="/user/spectacles">SEE THE PLAYBILL</a>
        <a class="link" href="/admin/new-spectacle">ADD NEW PERFORMANCE</a>
    </div>
</div>
</body>
</html>